.full-body {
  /* background-color: #f4c7d94f; */
  height: 100vh;
  position: relative;
}

.full-body img {
  width: 100%; 
  height: 95%; 
  opacity: 0.7;
}

.full-body .container {
  position: absolute; 
  top:25%; 
  left: 50%;   
  transform: translate(-50%, -50%);
}

/* Intro Section */
.intro {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  /* --secondary: green; */
}

.intro-txt h4 {
  text-align: center;
  margin-right: 30px;
}

.add-modal-btn .fas {
  font-size: 30px;
  color: black;
  margin-top: -5px;
  cursor: pointer;
}

.add-modal-btn {
  animation: shake 2s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.task-title {
  text-align: center;
}

.form {
  font-size: larger;
}

#btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.task-wrapper {
  margin-top: 30px;
}

.task-wrapper .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task-detail {
  border: 1.5px solid rgba(0, 0, 0, 0.788);
  height: auto;
  margin: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.task-detail h3 {
  font-size: large;
  margin: 6px;
  text-transform: uppercase;
}

.task-detail p {
  /* font-family: "Roboto", sans-serif; */
  font-size: large;
  margin: 6px;
}
