<!-- <script src="https://kit.fontawesome.com/bbb7424702.js" crossorigin="anonymous"></script> -->

<!-- carousel -->
<div class="carousel-background">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1" ></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true" ></button>
     
    </div> -->
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="background1">
          <img class="img" src="../assets/landing.jpeg" alt="landing">
        </div>

        <div class="carousel-caption">
          <div class="px-4 py-5 my-5 text-center">

            <h1 class="display-5 fw-bold">Having a <strong style="color:#9AE1FA;">HARD</strong> Time Juggling <br>
              <strong style="color:#B6EDD0 ;">LIFE</strong> and <strong style="color:#F3C7DE ;">PARENTING</strong>?</h1>
            <div class="col-lg-6 mx-auto">
              <p style="font-weight: bold;">We got you covered with adequate support for a seamless child upbringing process</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="exploreBtn" href="#about">Explore  <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="background1">
          <img class="img" src="../assets/fam2.jpg" alt="landing">
        </div>
        <div class="carousel-caption">
          <div class="px-4 py-5 my-5 text-center">

            <h1 class="display-5 fw-bold">Having a <strong style="color:#9AE1FA;">HARD</strong> Time Juggling <br>
              <strong style="color:#B6EDD0 ;">LIFE</strong> and <strong style="color:#F3C7DE ;">PARENTING</strong>?</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4" style="font-size:25px;">We got you covered with adequate support for a seamless child
                upbringing process</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="exploreBtn" href="#about">Explore  <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <div class="background1">
            <img src="../assets/fam2.jpg" alt="">
        </div>
        
        <div class="container-1">
          <div class="logo1">
           
          </div>
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>I mean we got you, talk to us</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">Reach Out</a>
            </p>
          </div>
        </div>
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span style="color:#EAF6FE ;" class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span style="color:#EAF6FE ;" class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



<!-- about us -->
<section id="about">
  <div class="container col-xl-10 ">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">About Us</h1>
        <p class="col-lg-10 fs-5"> <strong>Eazy Parenting </strong> is an online companion designed to help young
          parents with kids aged 0-12 years cope with their day-to-day lives. Our goal is to help better structure your
          lives and enable you to juggle life at the same standard as the rest.</p>
      </div>
      <div class="mx-auto col-md-5">
        <img style=" width: 100%;
        height: auto;
        object-fit: cover;" src="../assets/about.jpeg" alt="about" id="imgs">
      </div>
    </div>
  </div>
</section>

<!-- mission -->
<section class="mission">
  <div class="container mt-5 mb-5">
    <div class="row">

      <div class="col-lg-4">
        <h2 style="text-align:center ; "><i>Our Mission</i></h2>
        <div class="vision">
          <img style="width: 60px; margin-bottom: 30px;" src="../assets/mission.png" alt="mission">
          <p>To make parenting an<br> easier process especially<br> for young parents</p>
        </div>

      </div>
      <div class="col-lg-4">
        <h2 style="text-align:center ; "><i>Our Vision</i></h2>
        <div class="vision1">
          <img style="width: 60px;" src="../assets/vision.png" alt="mission" class="rounded-circle">
          <p>To be internationally <br>recognized as the predominant <br> parenting application</p>
        </div>
      </div>
      <div class="col-lg-4">
        <h2 style="text-align:center; "><i>Our Values</i></h2>
        <div class="vision2">
          <img style="width: 60px;" src="../assets/values.png" alt="mission" class="rounded-circle">
          <p>Integrity, Honesty,<br> Quality, Reliability,<br>Effectiveness</p>
        </div>
      </div>
    </div>



  </div>

</section>
<!-- services -->
<section class="service">
  <div class="container col-s-6 col-md-12" id="servis">
    <h2 style="text-align:center;  margin-top: 30px;"><i>Our Services</i></h2>
    
    <div class="row">
      <div class="col-md-3  color" id="card">
        <img style="width: 60px;margin-top: 8px;margin-bottom: 8px;" src="../assets/tasks.png" alt="mission"
          class="rounded-circle">
        <h2>Task Manager</h2>
        <p>Add your tasks to better structure your day</p>
        <button style="background-color:#9AE1FA; ;" type="button" class="btn btn-lg mb-5" routerLink="/tasks">Learn More</button>
      </div>

      <div class="col-md-3 color1" id="card">
        <img style="width: 60px;margin-top: 8px;margin-bottom: 8px;" src="../assets/medhub.png" alt="mission"
          class="rounded-circle">
        <h2>Medical Hub</h2>
        <p>View what others have posted and make your contribution</p>
        <button style="background-color:#9AE1FA; ;" type="button" class="btn btn-lg mb-5" routerLink="/medicalhub">Learn More</button>
      </div>

      <div class="col-md-3 color2" id="card">
        <img style="width: 60px;margin-top: 8px;margin-bottom: 8px;" src="../assets/dms.png" alt="mission"
          class="rounded-circle">
        <h2>Chats</h2>
        <p>A little gossip never hurts, find your friends and chat them up!</p>
        <button style="background-color:#9AE1FA; ;" type="button" class="btn btn-lg mb-5" routerLink="/direct">Learn More</button>
      </div>

      <div class="col-md-3 color1" id="card">
        <img style="width: 60px;margin-top: 8px;margin-bottom: 8px;" src="../assets/emergency.png" alt="mission"
          class="rounded-circle">
        <h2>Emergency Contact</h2>
        <p>Find an emergency contact in your locale an make a call</p>
        <button style="background-color:#9AE1FA; ;" type="button" class="btn btn-lg mb-5" routerLink="/contacts">Learn More</button>
      </div>
    </div>

  </div>

</section>
<!-- contact -->
<section class="contact mt-5 mb-5">
  <div class="contact" style="text-align:center;">
    <h1 style="padding-top: 50px;">
      A FRIENDLY ALWAYS ACCESSIBLE COMPANION <br> THAT GETS THE JOB DONE
    </h1>
    <button style="background-color:#F3C7DE; margin-top: 30px;" type="button" class="btn btn-lg mb-5" routerLink="/contactus">Contact Us</button>

  </div>

</section>
<!-- footer -->
<section class="footer">
  <div class="foot">
    <div class="socials">
      <ul>
        <li>
          <i class="fa-brands fa-instagram fa-2x"></i>
        </li>
        <li>
          <i class="fa-brands fa-github fa-2x"></i>
        </li>
        <li>
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </li>
      </ul>

    </div>
    <p>© 2022 Eazy Parenting. All Rights Reserved.</p>
  </div>
</section>