<!-- NAVIGATION BAR -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <div class="container-fluid">
      <!-- LOGO -->
      <a href="#" class="navbar-brand">
        <img src="../../assets/images/logo_big.png" height="40" alt="Logo">
      </a>

      <!-- TOGGLE BUTTON -->
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- TOGGLE BUTTON INFO -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          <a href="" class="nav-item nav-link active">HOME</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">SERVICES</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item" routerLink="/tasks">Task Manager</a>
              <a href="#" class="dropdown-item" routerLink="/explorer">Medical Hub</a>
              <a href="#" class="dropdown-item" routerLink="/contacts">Emergency Contacts</a>
              <a href="#" class="dropdown-item">Direct Messaging</a>
            </div>
          </div>
          <a href="#" class="nav-item nav-link" tabindex="-1" routerLink="/contactus">CONTACT US</a>
        </div>
        <div class="navbar-nav ms-auto login-btn">
          <a href="#" class="nav-item nav-link" style="margin-right: 20px;" routerLink="/login">LOGIN</a>
          <a class="nav-link" style=" cursor: pointer" (click)="onLogout()" >LOGOUT</a >
        </div>
      </div>
    </div>
  </div>

</nav>