<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 card">
    <h1>Signup Form</h1>

    <form action="">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Confirm Password</label>
        <input type="text" class="form-control">
      </div>
      <button id="register" class="form-control btn" type="submit">REGISTER</button>
    </form>
    <p><small>Already have an account? Login</small></p>
  </div>
  <div class="col-md-4"></div>
</div>

