<div class="wrapper">
  <div class="container">
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 card" id="cont">
    <h1>Signup Form</h1>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="username">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="password">
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" name="password2" class="form-control" [(ngModel)]="password2">
      </div>
      <button id="register" class="form-control btn" type="submit">REGISTER</button>
    </form>
    <p><small>Already have an account? <a style="color: dodgerblue; "href="#" class="nav-item nav-link" routerLink="/login">Login</a></small></p>
  </div>
  <div class="col-md-4"></div>
</div>
</div>
</div>