.btn {
  background-color: black;
  color: white;
}

.heading {
  font-family: Charm;
  font-weight: bold;
  text-align: center;
}

form {
  margin: 30px;
}

.card {
  border-color: black;
}

.form-control {
  background-color: #f3dce5;
}
