<div class="row" *ngIf="profiles">

  <div class="container hood-info">
    <img src="{{ profiles.image }}" alt="{{ profiles.user.username }}">

    <h3>{{profiles.user.username |titlecase}}</h3>
    <p style="margin-bottom: 30px;">{{ profiles.bio }}</p>

    <a id="btn" class="exploreBtn" href="">EDIT PROFILE</a>

  </div>

  <!-- <div class="profile">
    <img class="profile_image" src="{{ profiles.image }}" alt="{{ profiles.user.username }}'s Image">
    <div class="profile__name">{{profiles.user.username}}</div>
    <div class="profile__email">{{profiles.user.email}}</div>
    <div class="profile__bio">{{ profiles.bio }}</div>
    
  </div> -->

  <!-- <div class="container profile-info">
    <div class=" col-md-4">
      <h5 class="heading">Personal Information</h5>
      <div class="card">
        <img class="rounded-circle" height="200px" width="200px" src="{{ profiles.image }}" alt="{{ profiles.username }}">
        
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="image" class="form-file">Profile Image</label>
            <input type="file" class="form-control" name="image" [(ngModel)]="image">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" value="sth" name="name" [(ngModel)]="name">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="username">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="email">
          </div>
          <button type="submit" class="btn">EDIT PERSONAL PROFILE</button>
        </form>
      </div>
    </div>
  
    <div class=" col-md-4">
      <h5 class="heading">Baby Information</h5>
      
      <div class="card">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="name" class="form-label">Full name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="name">
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Date of Birth</label>
            <input type="date" name="date" class="form-control" [(ngModel)]="date">
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <input type="text" name="gender" class="form-control" [(ngModel)]="gender">
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" name="age" class="form-control" [(ngModel)]="age">
          </div>
          <div class="mb-3">
            <label for="weight" class="form-label">Weight</label>
            <input type="text" name="weight" class="form-control" [(ngModel)]="weight">
          </div>
          <div class="mb-3">
            <label for="bloodgroup" class="form-label">Blood Group</label>
            <input type="text" name="bloodgroup" class="form-control" [(ngModel)]="bloodgroup">
          </div>
          <button type="submit" class="btn">EDIT BABY INFO</button>
        </form>
      </div>
    </div>
  </div> -->

</div>

<script src="./assets/js/script.js"></script>

