

    <div class="container-fluid" style="background-color:#F3C7DE;padding: 10px;">
        
        <div class="col" style=" margin-left: 300px;">
            <div class="mt-5">
                <h1 class="mt-4 ml-5 mb-3">Contact Us</h1>
            </div>
            <form method="POST" action="">
                    <div class="col-sm-8 mt-4">
                        <label for="exampleInputName" class="form-label">First Name</label>
                        <input type="name" class="form-control form-control-lg" id="exampleInputName" placeholder=" Enter your first name" required>
                    </div>
                    <!-- <div class="col-sm-8 mt-4">
                        <label for="exampleInputContact" class="form-label">Last Name</label>
                        <input type="contact" class="form-control form-control-lg" id="exampleInputContact" placeholder="Enter your Last Name" required>
                    </div> -->
                    <div class="col-sm-8 mt-4">
                        <label for="exampleInputEmail1" class="form-label">Email Address</label>
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Enter your email address" required>
                    </div>
                    <div class="col-sm-8 mt-4">
                        <label for="exampleInputPassword1" class="form-label">Inquiry</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="col-sm-8 mt-2">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I agree to terms & conditions</label>
                    </div>
                    <div class="d-grid col-4 mt-3 mb-5 pl-12">
                        <button class="btn btn-lg" style="background-color:#9AE1FA;"> <a href="landing" style="text-decoration:none ; color:black;">Submit</a> </button>
                    </div>
               
            </form>
        </div>
</div>
<div class="wrapper1">
    <div class="container">
        <div class="row" >
          
            <div class="col-md-3 text-justify text-monospace">
                <h2 class="text">Location</h2>
                <p>Easy Patenting</p>
                <p>Parklands, nairobi</p>
                <p>Parklands || firstt avenue</p>
              </div>
              <div class="col-md-3">
                <h2 class="text">Customer Service</h2>
                  <p>easyparenting@gmail.com</p>
                  <p>Tell: 0228697465</p> 
                  <p>Phone: +254707779682</p>
              </div>
              <div class="col-md-4">
                  <div class="mapouter">
                    <div class="gmap_canvas">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.407888559546!2d36.8080660267108!3d-1.2610626352832797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17199c297e71%3A0x7019c24cbb4896d4!2sParklands%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1648117441059!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <style>.mapouter{position:relative;text-align:right;height:180px;width:350px;}.gmap_canvas {overflow:hidden;background:none!important;height:180px;width:350px;}</style>
                  </div>
              </div>
        </div>
        </div>
  
   

</div>